<h2 class="m-3 text-center card-header">Angular Reactive Form</h2>
<form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="card-body">
    <div  class="mb-3">
        <label for="exampleInputName" class="form-label">Name</label>
        <input type="text" formControlName="nameField" class="form-control" id="exampleInputName">
        <div class="text-danger" *ngIf="formControls['nameField'].invalid && formControls['nameField'].touched">
          <small *ngIf="formControls['nameField'].errors?.['required']">
              This field is required
          </small>
        </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" formControlName="emailField" class="form-control" id="exampleInputEmail1">
      <div class="text-danger" *ngIf="formControls['emailField'].invalid && formControls['emailField'].touched">
        <small *ngIf="formControls['emailField'].errors?.['required']">
            This field is required
        </small>
        <small *ngIf="formControls['emailField'].errors?.['pattern']">
            Enter a valid email
        </small>
      </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputUserName" class="form-label">User Name</label>
        <input type="text" formControlName="userNameField" class="form-control" id="exampleInputUserName">
        <div class="text-danger" *ngIf="formControls['userNameField'].invalid && formControls['userNameField'].touched">
          <small *ngIf="formControls['userNameField'].errors?.['required']">
              This field is required
          </small>
          <small *ngIf="formControls['userNameField'].errors?.['pattern']">
              Enter a valid username
          </small>
        </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" formControlName="passwordField" class="form-control" id="exampleInputPassword1">
      <div class="text-danger" *ngIf="formControls['passwordField'].invalid && formControls['passwordField'].touched">
        <small *ngIf="formControls['passwordField'].errors?.['required']">
            This field is required
        </small>
        <small *ngIf="formControls['passwordField'].errors?.['pattern']">
            Enter a valid password
        </small>
      </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
        <input type="text" formControlName="confirmPasswordField" class="form-control" id="exampleInputPassword2">
        <div class="text-danger" *ngIf="(formControls['confirmPasswordField'].invalid || notSameError) && formControls['confirmPasswordField'].touched">
          <small *ngIf="formControls['confirmPasswordField'].errors?.['required']">
              This field is required
          </small>
          <small *ngIf="notSameError && !formControls['confirmPasswordField'].errors?.['required']">
            Invalid
        </small>
        </div>
    </div>
    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Submit</button>
  </form>
