<div class="row justify-content-between text-light p-4 bg-dark mt-5">
    <div class="col-3">
      <div>Contact Info</div>
      <div class="small mt-2">
        <i class="fas fa-phone-alt"></i>
        0100000000
      </div>
      <div class="small">
        <i class="fas fa-envelope"></i>
        abc1234@gmail.com
      </div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
      <button class="btn btn-outline-light rounded-0 border border-2">Click Me!!</button>
    </div>
    <div class="col-3 d-flex flex-column align-items-center justify-content-end">
      <div class="small">
        <i class="fab fa-facebook m-1"></i>
        <i class="fab fa-snapchat m-1"></i>
        <i class="fab fa-instagram m-1"></i>
        <i class="fab fa-pinterest-p m-1"></i>
        <i class="fab fa-twitter m-1"></i>
        <i class="fab fa-linkedin-in m-1"></i>
      </div>
      <div class="m-1 py-3">
        powered by w3school
      </div>

    </div>
  </div>
