<div class="row bg-light p-5">
    <div class="col-4">
      <div class="display-5">About Me</div>
    </div>
    <div class="col-8">
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae delectus blanditiis aliquam ullam odio modi possimus quam iste expedita omnis quas labore debitis atque molestiae, reprehenderit aut. Unde, quam inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae delectus blanditiis aliquam ullam odio modi possimus quam iste expedita omnis quas labore debitis atque molestiae, reprehenderit aut. Unde, quam inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae delectus blanditiis aliquam ullam odio modi possimus quam iste expedita omnis quas labore debitis atque molestiae, reprehenderit aut. Unde, quam inventore!</p>
        <a href="app.component.html" download="Portfolio" class="btn btn-dark border border-light border-2 rounded-0">More Details</a>
      </div>
    </div>
  </div>
