<form class="card-body" #loginForm="ngForm" (ngSubmit)="submitForm(loginForm)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="text" ngModel name="emailField" #emailField="ngModel" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="exampleInputEmail1" aria-describedby="emailHelp" required>
      <div class="text-danger" *ngIf="emailField.invalid && emailField.touched">
          <small *ngIf="emailField.errors?.['required']">
              This field is required
          </small>
          <small *ngIf="emailField.errors?.['pattern']">
              Enter a valid email
        </small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" ngModel name="passwordField" #passwordField="ngModel" class="form-control" id="exampleInputPassword1" required>
      <div class="text-danger" *ngIf="passwordField.invalid && passwordField.touched">
        <small *ngIf="passwordField.errors?.['required']">
              This field is required
        </small>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Submit</button>
  </form>
  

