<div class="container-fluid">
  <div class="row bg-img">
    <div class="col-4 text-center text-light m-4 p-4">
      <h1 class="display-4 fw-bolder">Katie Reed</h1>
      <h3 class="display-6">Web developer and designer</h3>
      <a href="app.component.html" download="Portfolio" class="btn btn-outline-light border border-light border-2 rounded-0">Click Me!!</a>
    </div>
  </div>
  <div class="row bg-light p-5">
    <div class="col-4">
      <div class="display-5">About Me</div>
    </div>
    <div class="col-8">
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae delectus blanditiis aliquam ullam odio modi possimus quam iste expedita omnis quas labore debitis atque molestiae, reprehenderit aut. Unde, quam inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae delectus blanditiis aliquam ullam odio modi possimus quam iste expedita omnis quas labore debitis atque molestiae, reprehenderit aut. Unde, quam inventore!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae delectus blanditiis aliquam ullam odio modi possimus quam iste expedita omnis quas labore debitis atque molestiae, reprehenderit aut. Unde, quam inventore!</p>
        <a href="app.component.html" download="Portfolio" class="btn btn-dark border border-light border-2 rounded-0">More Details</a>
      </div>
    </div>
  </div>
  <div class="row text-center justify-content-center text-light bg-dark">
    <div class="display-5 fw-bold p-2 m-4">Skills</div>
    <div class="row text-center justify-content-evenly col-12 m-3">
      <p class="small col-10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum cumque dignissimos aliquid impedit, dolores cupiditate mollitia repudiandae laboriosam enim? Id obcaecati enim nihil harum ullam aliquam omnis quas natus necessitatibus.</p>
      <div class="d-flex flex-column align-items-center justify-content-between m-5 col-5">
        <div class="m-2 w-50 border-light border-bottom p-2">Skills Covered</div>
        <div class="w-50">
          <p class="m-1 p-1">HTML</p>
          <p class="m-1 p-1">CSS</p>
          <p class="m-1 p-1">JavaScript</p>
          <p class="m-1 p-1">SASS</p>
        </div>
      </div>
      <div class="row align-items-center m-5 col-5">
        <div class="progress border border-light m-2 h-20 p-0">
          <div class="progress-bar bg-dark" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">HTML</div>
          <div class="progress-bar bg-secondary w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress border border-light m-2 h-20 p-0">
          <div class="progress-bar bg-dark" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">CSS</div>
          <div class="progress-bar bg-secondary w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress border border-light m-2 h-20 p-0">
          <div class="progress-bar bg-dark" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">JavaScript</div>
          <div class="progress-bar bg-secondary w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="progress border border-light m-2 h-20 p-0">
          <div class="progress-bar bg-dark" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">SASS</div>
          <div class="progress-bar bg-secondary w-50" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center bg-light h-100">
    <div class="col-12 display-6 m-3 p-4">Portfolio</div>
    <div class="row align-items-center justify-content-center row-col-3 flex-wrap m-2">
      <div class="col-3 card m-2 bg-secondary shadow">
        <div class="card-body">
          <div class="card-text m-2 text-light text-center">
            <h5>Project1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-3 card m-2 bg-dark shadow">
        <div class="card-body">
          <div class="card-text m-2 text-light text-center">
            <h5>Project1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-3 card m-2 bg-secondary shadow">
        <div class="card-body">
          <div class="card-text m-2 text-light text-center">
            <h5>Project1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-3 card m-2 bg-dark shadow">
        <div class="card-body">
          <div class="card-text m-2 text-light text-center">
            <h5>Project1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-3 card m-2 bg-secondary shadow">
        <div class="card-body">
          <div class="card-text m-2 text-light text-center">
            <h5>Project1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-3 card m-2 bg-dark shadow">
        <div class="card-body">
          <div class="card-text m-2 text-light text-center">
            <h5>Project1</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-between text-light p-4 bg-dark mt-5">
    <div class="col-3">
      <div>Contact Info</div>
      <div class="small mt-2">
        <i class="fas fa-phone-alt"></i>
        0100000000
      </div>
      <div class="small">
        <i class="fas fa-envelope"></i>
        abc1234@gmail.com
      </div>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-center">
      <button class="btn btn-outline-light rounded-0 border border-2">Click Me!!</button>
    </div>
    <div class="col-3 d-flex flex-column align-items-center justify-content-end">
      <div class="small">
        <i class="fab fa-facebook m-1"></i>
        <i class="fab fa-snapchat m-1"></i>
        <i class="fab fa-instagram m-1"></i>
        <i class="fab fa-pinterest-p m-1"></i>
        <i class="fab fa-twitter m-1"></i>
        <i class="fab fa-linkedin-in m-1"></i>
      </div>
      <div class="m-1 py-3">
        powered by w3school
      </div>

    </div>
  </div>
</div>